springconfig/bin
springconfig/libs

spring-demo/bin
spring-demo/libs

springeagerandlazy/bin
springeagerandlazy/libs

organisation/.git
organisation/bin
organisation/libs

organisationAnnotation/bin
organisationAnnotation/libs

organisationConfig/bin
organisationConfig/libs